<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.erp_luuzun.dao.CategoryMapper">

   <resultMap type="Category" id="CategoryResult">
		<id property="groupCode" column="group_code"/>
		<result property="groupName" column="group_name"/>
	</resultMap>
	 
	<!-- Select SQL -->
    <sql id="selectSQL">
		SELECT group_code, group_name FROM category
	</sql>

	<!-- Where SQL -->
	<sql id="whereSQL">
		<where>
			<if test="groupCode != null">
				group_code=#{groupCode}
			</if>
		</where>
	</sql>
	    
    <!-- Select By All --> 
    <select id="selectCategoryByAll" resultMap="CategoryResult">
    	<include refid="selectSQL" />
    		ORDER BY group_code;
    </select>
</mapper>

