<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.or.dgit.erp_luuzun.dao.SoftwareMapper">
    
    <resultMap type="Software" id="SoftwareResult">
    	<id property="swCode" column="sw_code"/>
    	<result property="swName" column="sw_name"/>
    	<result property="salePrice" column="sale_price"/>
    	<result property="swInven" column="sw_inven"/>
    	<result property="swImg" column="sw_img"/>
    	<result property="swIsSale" column="sw_isSale"/>
    	<association property="category" resultMap="kr.or.dgit.erp_luuzun.dao.CategoryMapper.CategoryResult"/>
    </resultMap>
		

	<!-- Select SQL -->
    <sql id="selectSQL">
		SELECT * 
			FROM software sw 
				JOIN category c on sw.group_code = c.group_code
	</sql>

	<!-- Where SQL -->
	<sql id="whereSQL">
		<where>
			<if test="swCode != null">
				sw_code=#{swCode}
			</if>
		</where>
	</sql>
	    
    <!-- Select By All --> 
    <select id="selectSoftwareByAll" resultMap="SoftwareResult">
    	<include refid="selectSQL" />
    		ORDER BY sw_code;
    </select>
</mapper>

